@font-face {
    font-family: 'EleganTech';
    src: url('fonts/EleganTech-.ttf') format('truetype');
}
@font-face {
    font-family: 'Technoid';
    src: url('fonts/TECHNOID.TTF') format('truetype');
}

body {
    font-family:'EleganTech', sans-serif;
    background: linear-gradient(135deg, #222222, #6a1b9a, #222222);
    font-size: 1.5rem;
    color:#FFE499;
    margin: 0;
    width: 100%;
    padding: 1.5rem;
}

h1 {
    font-family: 'Technoid', sans-serif;
    text-align: center;
    color: #6A1B9A;
    font-size:5rem;
    margin-bottom:0.5rem;
    padding-top: 1rem;
}

h2 {
    font-family: 'EleganTech', sans-serif;
    color: #E7AA51;
    font-weight: 700;
    font-size: 4rem;
    margin-top:2.5rem;
}

h3 {
    font-family: 'EleganTech', sans-serif;
    color: #E7AA51;
    font-size: 4rem;
    font-weight: 700;
    margin-top: 2.5rem;
}

p {
    font-family: 'EleganTech', sans-serif;
    color: #FFE499;
    font-size: 3rem;
    line-height: 1.6;
}

strong {
    font-family: 'EleganTech', sans-serif;
    color: #ECAA51;
    font-size: 3rem;
}

hr {
    border: 0;
    height: 5px;
    background: linear-gradient(180deg, #AC7031, #ECAA51, #FFE499, #E7AA51, #8D5A1B);
    margin: 3rem 0;
}

.hero {
    background: linear-gradient(180deg, #AC7031, #ECAA51, #FFE499, #E7AA51, #8D5A1B);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem;
    gap: 2rem;
    height: 400px;
    width: 100%;
}

.logo {
    width: 400px;
    height: auto;
    padding-left: 3rem
}

.hero-text h1,
.hero-text h2,
.hero-text p {
    margin: 600px 0.3rem 0;
    text-align: center;
}

.brand {
    font-size: 6rem;
    color: #6A1B9A;
    font-weight: 700;
}

.tagline {
    font-size: 3rem;
    color: #222222;
    font-weight: 400;
}

.section {
    margin-top: 2rem;
    width: 100%;
    line-height: 2.5;
    padding: 1.5rem;
}

.section p {
    font-size:3rem;
    text-align: justify;
}

.package {
    background: linear-gradient(180deg, #AC7031, #ECAA51, #FFE499, #E7AA51, #8D5A1B);
    border-left: 10px solid #A26E2E;
    padding: 1.5rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    color: #222222;
}

.sp {
    font-family: 'EleganTech', sans-serif;
    color: #6A1B9A;
    font-size: 3.5rem;
}

.description {
    font-family: 'EleganTech', sans-serif;
    color: #222222;
    font-size:3rem;
    line-height: 1.6;
}
.quote {
    font-family: 'EleganTech', sans-serif;
    color: #E7AA51;
    font-size: 3.5rem;
    text-align: justify;
    margin-top: 1rem;
    line-height: 2;
}

.contact {
    padding: 1.5rem;
    border-radius: 8px;
    margin-top: 2rem;
}

a {
    color: #A26E2E;
}

a:hover {
    color: plum;
    text-decoration: underline;
}

a:visited {
    color: #9E9E9E;
}

footer {
    background: linear-gradient(180deg, #AC7031, #ECAA51, #FFE499, #E7AA51, #8D5A1B);
    text-align: center;
    margin-top: 3rem;
    font-size: 0.9rem;
    color: #222222;
    padding: 1.5rem;
    height: 100px
}