@font-face {
    font-family: 'EleganTech';
    src: url('fonts/EleganTech-.ttf') format('truetype');
}
@font-face {
    font-family: 'Technoid';
    src: url('fonts/TECHNOID.TTF') format('truetype');
}

body {
    font-family:'EleganTech', sans-serif;
    background: linear-gradient(135deg, #222222, #6a1b9a, #222222);
    font-size: 1.5rem;
    color:#FFE499;
    margin: 0;
    width: 100%;
}

h1 {
    font-family: 'Technoid', sans-serif;
    text-align: center;
    color: var(--primary-color, #6A1B9A);
    font-size:5rem;
    margin-bottom:0.5rem;
    padding-top: 1rem;
}

h2 {
    font-family: 'Technoid', sans-serif;
    color: #E7AA51;
    font-weight: bold;
    font-size: 4rem;
    margin-top:2.5rem;
}

h3 {
    font-family: 'Technoid', sans-serif;
    color: #E7AA51;
    font-size: 4rem;
    font-weight: bold;
    margin-top: 2.5rem;
}

p {
    font-family: 'EleganTech', sans-serif;
    color: #FFE499;
    font-size:2rem;
    line-height: 2rem;;
}

strong {
    font-family: 'Technoid', sans-serif;
    color: #ECAA51;
    font-size: 3.5rem;
}

hr {
    border: 0;
    height: 3px;
    background: linear-gradient(180deg, #AC7031, #ECAA51, #FFE499, #E7AA51, #8D5A1B);
    margin: 2rem 0;
}

.hero {
    background: linear-gradient(180deg, #AC7031, #ECAA51, #FFE499, #E7AA51, #8D5A1B);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    width: 100%, ry-color;
    height: 300px;
    font-size: 3rem;
}

.hero-content {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.logo {
    width: 120px;
    height: auto;
}

.hero-text {
    max-width: 600px;
}

.ph {
    font-family: 'EleganTech', sans-serif;
    color: var(--primary-color, #222222);
    font-size: 3rem;
    margin-top: 0.5rem;
}

.section {
    margin-top: 2rem;
    width: 100%;
    line-height: 2;
    text-align: justify;
}

.package {
    background: linear-gradient(180deg, #AC7031, #ECAA51, #FFE499, #E7AA51, #8D5A1B);
    border-left: 6px solid #A26E2E;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    text-align: center;
    color: #222222;
}

.sp {
    font-family: 'Technoid', sans-serif;
    color: #6A1B9A;
    font-size: 3.5rem;
}
.quote {
    font-family: 'Technoid', sans-serif;
    color: #E7AA51;
    font-size: 4rem;
    text-align: justify;
    margin-top: 1rem;
    line-height: 2;
}

.contact {
    padding: 1.5rem;
    border-radius: 8px;
    margin-top: 2rem;
}

a {
    color: #A26E2E;
}

a:hover {
    color: plum;
    text-decoration: underline;
}

a:visited {
    color: #9E9E9E;
}

footer {
    text-align: center;
    margin-top: 3rem;
    font-size: 0.9rem;
    color: #FFE499;
}